USER=someuser
UID=1234
USER_EMAIL=some_email@email.com
COMPOSE_PROJECT_NAME=portfolio
PORT_API=4003
PORT_WEB=3000
HOST_NAME=localhost
RUN_SETUP_DJANGO=true
POSTGRES_USER=postgres
POSTGRES_DB=portfolio
POSTGRES_PASSWORD=password
SECRET_KEY="some_secret_key"
